table {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}

input[type="text"] {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(47, 0, 0);
    outline: none;
    box-sizing: border-box;
    border-color: rgb(104, 0, 0);
    padding: 0.4%;
    background-color: rgba(183, 37, 37, 0.203);
}